<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <div>

    <form method="POST" action="/api/user">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required="true" placeholder="username">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required="true" placeholder="something@email.com">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required="true">
        <button type="submit">Sign up</button>
    </form>
</div>
</body>
</html>